/*************** Reset default ***************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  box-sizing: inherit;
}
/*************** Reusable CSS ***************/
.container {
  width: 120rem;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  padding: 8rem 0;
  align-items: center;
}
.flex-w-50 {
  width: 50%;
}
.flex-w-30 {
  width: 30%;
}
.flex-w-33 {
  width: 33.33%;
  text-align: center;
}
.color-orange {
  color: #fba24f;
}
.btn-primary {
  text-decoration: none;
  background: linear-gradient(to right, #fba24f, #ff1e1e);
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 3rem;
  border-radius: 10rem;
  box-shadow: 4px 4px 20px #ff1e1e;
  display: inline-block;
  margin-top: 2rem;
}
.paragraph {
  font-size: 1.8rem;
  color: #878787;
}
.sub-title {
  font-size: 4rem;
  font-weight: 700;
  color: #575757;
}
/*************** Hero Section ***************/
.hero-title {
  font-size: 6rem;
  font-weight: 700;
  color: #575757;
  margin-bottom: 5rem;
}
.hero-paragraph {
  font-size: 2rem;
  width: 80%;
  margin-bottom: 2rem;
}
.hero-image {
  width: 80%;
  display: block;
  margin: 0 auto;
}
/*************** About Section ***************/
#about {
  background-image: url('./images/shapes/Frame 58.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.about-image {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.about-paragraph {
  margin-bottom: 3rem;
  width: 85%;
}
.about-container {
  padding-bottom: 0;
}
.about-sub {
  margin-bottom: 3rem;
}

/*************** Recipie Section ***************/
#recipie {
  padding: 8rem 0;
}
.recipie-content {
  text-align: center;
}
.recipie-sub {
  margin-bottom: 3rem;
}
.recipie-paragraph {
  width: 60%;
  margin: 0 auto;
}
.recipie-card {
  padding: 1.5rem;
  box-shadow: 0 0 3rem #bebebe;
  border-radius: 3rem;
}
.recipie-card:not(:last-child) {
  margin-right: 3%;
}
.recipie-card__image {
  width: 100%;
}
.recipie-card__title {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #575757;
}
.recipie-card__para {
  margin: 2rem 0;
}

/*************** Counter Section ***************/
#counter {
  margin-bottom: 8rem;
}
.counter-container {
  box-shadow: 0 0 20px #bebebe;
  border-radius: 2rem;
  background: url('./images/shapes/Frame\ 59.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/*************** Footer Section ***************/
#footer {
  padding: 3rem 0;
  background-color: #000;
  text-align: center;
}
.footer-title {
  font-size: 2.5rem;
  color: #505050;
  margin-bottom: 2rem;
}
.footer-para {
  font-size: 1.5rem;
  color: #f5f5f5;
}
